body {
	max-width: 960px;
	margin: 0 auto;
}
div {
	padding: 5px 15px;
	border: 1px solid black;
	background:
}
h1 {
	text-align: center;
}
.header {
	border-radius: 10px 10px 0 0;
	margin-top: 20px;
	background-color: DarkSlateGrey;
}
.btn {
	background-color: DarkSlateGrey;
	outline: none;
	float: left;
	font-size: 14pt;
	margin-right: 10px;
	max-width: 200px;
	min-width: 150px;
	user-select: none;
	text-decoration: none;
}
.sidebar1 {
	
	background-color: Silver;
}
p {
	font-size: 14pt;
}